{% extends '::base.html.twig' %}

{% block body -%}
    <div id="mainMenu" style="">

        {{ knp_menu_render('RuslanSmykRectalBundle:Builder:mainMenu', {'depth': 2, 'currentAsLink': false}) }}

    </div>
    <h1>Reservist edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('reservist') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
