
{% extends '::base.html.twig' %}

{% block body -%}

    <h1>DB RECTAL ! </h1>

    <div id="mainMenu" style="">

        {{ knp_menu_render('RuslanSmykRectalBundle:Builder:mainMenu', {'depth': 2, 'currentAsLink': false}) }}

    </div>

{% endblock %}